<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <title>StoreCase - BD</title>
</head>
<body>
    <h1>StoreCase - BD</h1>
    <h2>{{ variavel }}</h2>
    <form action="{{ url_for('homepage')}}" method="post">
        <label for="">Categoria: </label>
        <input type="text" name="categoria_produto" placeholder="Categoria"></br></br>
        <label for="">Tipo: </label>
        <input type="text" name="tipo_produto" placeholder="Tipo"></br></br>
        <label for="">Preço: </label>
        <input type="text" name="preco" placeholder="Preço">
        <button>Enviar</button>

        <h2>Saida</h2>
        <p>Categoria: {{ categoria }}</p></br>
        <p>Tipo: {{ tipo }}</p></br>
        <p>Preço: {{ preco }}</p></br>
    </form>
</body>
</html>